* {
    margin: 0px;
    padding: 0px;
}

.app-wrapper {
    height: 90vh;
}

.wrapper {
    display: flex;
    height: 100%;

}

.main_container {
    display: flex;
    width: 100%;
}

.footer {
    height: 4vh;
  }