@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:ital,wght@1,300&display=swap');

.calculator {
    margin-top: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product_wrapper {
    padding-top: 35px;
    width: 90%;
    height: 70vh;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    padding-left: 50px;
    margin-top: 5px;
    -webkit-mask-image: linear-gradient(to bottom, transparent 1%, black 10%);
    mask-image: linear-gradient(to bottom, transparent 25%, black 75%);
}

.product_wrapper::-webkit-scrollbar {
    display: none;
  }

.information {
    text-align: center;
    margin: 0px 0px 20px 0px;
    font-family: 'Roboto Mono', monospace;
}

.client_details h2 {
    margin-top: 15px;
    text-align: center;
}
.calculator_card {
    width: 90%;
}

.total_price {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

.btn_remove {
    height: 30px;
    margin-left: 10px;
    box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	background-color:#f24537;
	border-radius:6px;
	border:1px solid #d02718;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	padding:6px 15px;
	text-decoration:none;
    outline: none;
}

.btn_qty {
    font-size: 15px;
    padding:6px 15px;
    height: 30px;
}
.summary_container {
    text-align: center;
    margin-top: 10px
}

.summary_link {
    text-decoration: none;
    color: inherit;
}

.summary_link:hover{
    text-decoration: underline;
}



