.summary_wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.summary_details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}

.summary_details h3 {
    margin: 30px 30px 0px 30px;
}

.table_container {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

table.items_table {
    width: 80%;
    text-align: left;
  }

table.items_table tbody td {
    padding: 10px;
    text-align: center;
    font-size: 15px;
    border-bottom:  1px solid #AAAAAA;
  }
table.items_table tbody th {
    text-align: center;
    font-size: 15px;
    border-bottom:  1px solid #AAAAAA;
  }
table.items_table thead {
    border-bottom: 2px solid #444444;
  }
table.items_table thead th {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    border-bottom: 2px solid #444444;
  }

.summation {
  display: flex;
  justify-content: space-between;
  margin: 0px 30px 0px 30px
}

.order-details {
  font-size: 12px;
  font-weight: 900;
}

.small-logo{
  height:100px;

}

.textarea-summary {
  resize: none;
  width: 280px;
  height: 60px;
  border: none;
}

.textarea-summary:focus {
  outline: none;

}


.more-information {
  resize: none;
  height: 90%;
}

.form-control:focus {
  outline: none;
  border: 1px solid black;
  box-shadow: none;
  resize: none;
  
}


